# Database
POSTGRES_DB=myapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres_db
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}
DATABASE_URL=${POSTGRES_URL}

# Application
NODE_ENV=development
PORT=5173

# Auth (generate secure secrets for production)
BETTER_AUTH_SECRET=CVcPEtBH0vhsTvltZL8WQ7K4zpuysslb
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
